@model MovieShuffle.Models.MovieShuffleViewModel
@using System.Data
@{
    ViewData["Title"] = "MovieShuffle";
}
<script type="text/javascript" src="~/js/Services/movieShuffleService.js"></script>
<script src="~/js/Services/movieModalService.js"></script>
<script type="text/javascript" src="js/movieShuffle.js" asp-append-version="true"></script>

<div id="currentWatch">
    <div class="current-body">
        <h5 class="current-question mb-2"></h5>
        <div class="current-responses"></div>
    </div>
</div>

<button data-toggle="modal" data-target="#rollModal" class="mx-auto btn btn-success" type="button">Roll</button>
<table id="movieChoices" class="table">
    <thead><tr></tr></thead>
    <tbody>
        <tr>
            <td>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="rollModal" tabindex="-1" role="dialog" aria-labelledby="rollModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rollModalLabel">Next Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="nextQuestion mb-2"></h5>
                <div class="responses"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Not Feeling It</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Sure</button>
            </div>
        </div>
    </div>
</div>
<style>
    .watched_true {
        color: darkgrey;
    }

    #currentWatch {
        text-align: center;
        margin: 0 auto;
    }
</style>


