
@{
    ViewData["Title"] = "Movies";
}

<script src="~/js/Services/movieModalService.js"></script>
<script src="~/js/Movies.js"></script>

<h1>Index</h1>

<table id="movieTable" class="table table-striped table-responsive-md btn-table">
    <thead>
    <tr><th data-field="id">Id</th><th data-field="title">Title</th><th data-field="isSynced">Synced</th><th data-field="editButton">Options</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>
<style>
    .dropdown-menu li{
        padding: 0.5em;
    }
</style>